{% extends 'home/base.html' %}
{% load static %}
{% block title %}
    Index Page
{% endblock title %}

{% block content %}
<br><br><br>
<center>
    <h1><img src="{% static 'home/twitter-noloop.gif' %}" alt="" height="230" width="300"> Marketing </h1> 
    <br><br>
    
    {% if auth %}
    <a href="{% url 'home-dash' %}" class="btn btn-danger">Go to dashboard</a><br><br><br>    
    {% else %}
    
            <a href="{{ url }}" class="btn btn-primary btn-lg shadow">Log In With Twitter&nbsp; <i class="fab fa-twitter"></i> </a>
            {% comment %} <a href="{{ url }}"><img src="{% static 'home/twitter-signin.png' %}" alt="" height="60" width="300"></a>  {% endcomment %}
    
    {% endif %}
    <br>
</center>

    

{% endblock content %}