{% extends 'home/base.html' %}
{% load static %}
{% block title %}
    Index Page
{% endblock title %}

{% block content %}
<br><br><br>
<center>
    <h1><img src="{% static 'home/twitter-noloop.gif' %}" alt="" height="230" width="300"> Marketing </h1> 
    <br><br>
    
    {% if auth %}
    <p>Go to dashboard</p>
    {% else %}
    <div class="card shadow-lg col-4 text-center border-0">
        <div class="card-body">
            <a href="{{ url }}"><img src="{% static 'home/twitter-signin.png' %}" alt="" height="60" width="300"></a> 
        </div>
    </div>
    {% endif %}
    <br>
</center>

    

{% endblock content %}