{% extends 'home/base.html' %}

{% block content %}
<br>
{% if messages %}
    {% for message in messages %}
        <p class="alert alert-{{message.tags}}">{{ message }}</p>
    {% endfor %}
{% endif %}
<h1>Logs</h1>
    <div class="container mt-5">
        
            <table class="table table-striped table-bordered mt-3" id="logs_table">
                <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Action</th>
                        <th scope="col">Date</th>
                    </tr>
                </thead>
                <tbody>
                {% for log in logs %}
                    <tr>
                        <td>{{log.id}}</td>
                        <td>{{ log.action }}</td>
                        <td>{{ log.date }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="row mt-3">
                <h3>Export Data</h3>
            </div>
            <select id="exportLink" class='form-control mt-3 mb-5'>
                <option  disabled selected>Export userlist</option>
                <option id="csv">Export as CSV</option>
                <option id="pdf">Export as PDF</option>
                <option id="print">Print</option>
            </select>
        
    </div>
   
{% endblock content %}