{% load static %}
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <a class="navbar-brand" href="{% url 'home-page' %}">TWAuto</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item {% ifequal page  "home" %} active {% endifequal %}">
        <a class="nav-link" href="{% url 'home-page' %}">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item {% ifequal page  "dash" %} active {% endifequal %}">
        <a class="nav-link" href="{% url 'home-dash' %}">Dashboard </a>
      </li>
      <li class="nav-item {% ifequal page  "colab" %} active {% endifequal %}">
        <a class="nav-link" href="{% url 'colab-request' %}">Colaborate </a>
      </li>
    </ul>
    <ul class="navbar-nav">
    {% if user.is_authenticated %}
    <li class="nav-item active"><a class="nav-link" href="{% url 'logout' %}">Logout </a></li>
    {% endif %}
      
    </ul>

    
  </div>
</nav>