{% extends 'home/base.html' %}

{% block content %}
<br>
{% if messages %}
    {% for message in messages %}
        <p class="alert alert-{{message.tags}}">{{ message }}</p>
    {% endfor %}
{% endif %}
<h1>Schedule Tweets</h1>
    <div class="container mt-5">
        <div class="row">
            <div class="col-6 offset-3">
                <form action="" method="post" class="form-group">
                {% csrf_token %}
                    <label for="tweet">Tweet Text</label> 
                    <textarea name="tweet" id="tweet" cols="40" rows="3" class="form-control" required></textarea>
                    <br>
                    <label for="file">File (Optional)</label>
                    <input type="file" name="file" id="File" class="form-control-file"><br><br>
                    <label for="date">Select Date</label>
                    <input class="form-control" name="sc-date" type="text" id="date" placeholder="Select Date" required><br>
                    <input class="form-control" name="sc-time" type="text" id="time" placeholder="Select Time" required><br>
                    <input type="submit" name="submit" id="" value="Tweet" class="btn btn-success">
                </form>
            </div>
        </div>
    </div>
   
{% endblock content %}